:root{
    --nav-color: #D9D9D9;
    --footer-color: #5B7199;

    --main-color: #345E90;
    --secondary-color: #5F96B9;
    --background-color: #c7c7c7FF;
    
    
    --content-color: #FFFFFF;
    --secondary-text-color: #6d6d6d;

    --carousel-color: #122b49;
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

/*  
-------------------------------------
         ESTRUCTURA GENERAL 
-------------------------------------
*/ 

::-webkit-scrollbar {
    display: none;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.nav{
    background-color: var(--nav-color);
    width: 100%;
    height: 90px;
}

.main-content{
    background-color: var(--content-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer{
    background-color: var(--main-color);
    width: 100%;
    height: 190px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/*  
-------------------------------------
         ESTRUCTURA CARROUSEL
-------------------------------------
*/ 



/*  
-------------------------------------
         ESTRUCTURA LISTADO
-------------------------------------
*/ 

.list-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}


.title-container{
    width: 100%;
    height: 65px;
    color: var(--main-color);
    font-size: 28px;
    border-bottom: 2px solid var(--main-color);
}

.title-container p{
    padding-left: 5px;
}

.content-container{
    width: 100%;
    min-height: 600px;
    padding: 20px 0 40px;
    display: flex;
    gap: 30px;
}


@media screen and (max-width: 855px){
    .content-container{
        flex-direction: column;
    }

    .filter-container{
        width: 100% !important;
        border: none !important; 
        border-bottom: 1px solid var(--main-color) !important;
    }
}

.filter-container{

    width: 30%;
    box-sizing: border-box;
    padding: 0 10px;
    border-right: 1px solid var(--secondary-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* ----------------- Filtros ----------------- */

.filter-groups{
    width: 90%;
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}


.filter-groups p{
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: var(--carousel-color);
  font-weight: bolder;
  margin-bottom: 5px;
}

.filter-groups select {
    width: 100%;
}

.filter-groups input, .filter-groups select{
    border-radius: 5px;
    border: 1px solid rgba(77, 77, 77, 0.2);
    padding: 3px 0;
    box-shadow: 5px 5px 48px #e6e5e5,
                -5px -5px 5px #ffffff;
}

.filter-groups input{
    padding: 5px 10px;

    &:focus{
        outline: none;
        border: 1px solid var(--main-color);
    }
}

.filter-groups button{
    margin-top: 5px;
    width: 100%;
    height: 28px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    color: var(--content-color);
    background-color: var(--main-color);
    font-size: 15px;
    transition: all 0.4s ease-in-out;
    
    &:hover{
        border-color: var(--main-color) ;
        color: var(--main-color);
        background-color: var(--content-color);
    }
}

/* ----------------- Cartas ----------------- */

.card-container{
    width: 100%;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; 
    gap: auto;
}

.card-container::after{
    content: "";
    flex-basis: 100%; /* Añade un espacio adicional para evitar que se quede vacío */
}

@media screen and (max-width: 855px){

    /* Centro las cartas cuando pasa cierto punto */
    .card-container{
        justify-content: center;
    }
}

@media screen and (min-width: 1270px) {
    .card-container{
        gap: 30px 10px;
    }
}

.card{
    height: 285px;
    width: 270px;
    border-radius: 12px;
    border: 1px solid var(--main-color);
    gap: 5%;
    transition: all 0.3s ease-in-out;
    margin: 2px;

    &:hover{
        transform: translateY(-5px);
        box-shadow: 5px 5px 48px #e6e5e5,
                    -5px -5px 5px #ffffff;
    }
}

.card-img{
    width: 100%;
    height: 70%;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid var(--main-color);
    background-color: var(--main-color);
}

.card-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    background-color: transparent;
    object-fit: cover;
}


.card-content{
    width: 95%;
    height: 30%;
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px 0px;
    flex-direction: column;
    justify-content: center;

}

.card-title{
 
    height: 40%;
    display: flex;
    align-items: center;
    
}

.card-title-text{
    color: var(--main-color);
    font-size: 18px;
}

.card-categories-container{
    height: 50%;
    display: flex;
    align-items: end;
    gap: 10px;
    display: flex;
    overflow-x: scroll;
   
}

.card-categorie{
    background-color: var(--carousel-color);
    color: var(--content-color);
    padding: 2px 15px;
    height: 20px;
    font-size: 14px;
    border-radius: 12px;
}


/* SWIPPER */

/* Estilo para el contenedor del carousel */
.carousel {
    width: 100%;  /* Ajusta el tamaño del carousel, puede ser un valor fijo o porcentaje */
    height: 500px;  /* Tamaño máximo del contenedor */
    margin: 0 auto;  /* Centrado en la página y algo de margen en la parte superior */
    background-color: var(--carousel-color);
    display: flex; 
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
   
 
}

.swiper {
    width: 50%;
    height: 90%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Estilo adicional para mejorar la experiencia en móviles */
@media (max-width: 768px) {
    .swiper-slide {
        width: 250px;  /* Disminuir el tamaño de las cartas en pantallas pequeñas */
        height: 300px;
    }
}
